.App {
  text-align: center;
  padding: 40px 0 40px 0;
  height: 100vh;
  width: 100vw;
  background-image: url("https://res.cloudinary.com/deif2qotx/image/upload/v1649242357/alvan-nee-ZCHj_2lJP00-unsplash_halvzi.webp");
  background-size: cover;

}

